/* Base Styling */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Navbar Styling */
.navbar-custom {
  background-color: #f8f9fa;
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-link {
  font-weight: bold;
  margin: 0 10px;
  color: black !important;
}

.nav-link:hover {
  color: #fd4e14 !important;
}

.navbar-nav li {
  margin-right: 20px;
}


.homePage {
  background-color: #7d8b99;
}

.profile-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

.about-img {
  max-width: 90%;
  height: auto;
}

h3 {
  font-weight: 700;
}

.main-txt {
  margin: none;
  font-size: 120px;
}

#education {
  height: 100vh;
}

.edu-sec {
  margin-top: 90px;
}

.section-title {
  color: #fd4e14;
  font-weight: bold;
  font-size: 36px;
}

.edu-exp-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.custom-padding {
  padding-left: 50px;
  padding-right: 50px;
}

.timeline {
  position: relative;
  padding-left: 40px;
  border-left: 2px solid #fd4e14;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-dot {
  position: absolute;
  top: 5px;
  left: -49px;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 3px solid #fd4e14;
  border-radius: 50%;
}

.timeline-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.timeline-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 10px;
}

.timeline-description {
  font-size: 16px;
  color: #6c757d;
}

#skills {
  height: 100vh;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

.bg-primary {
  background-color: #ff4900f5 !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.skill {
  margin-left: 60px;
  margin-right: 60px;
}

.mb-5 {
  margin-top: 5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
  margin-left: 3rem;
  margin-right: 3rem;
}

.btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
}

.bg-color {
  background-color: #7d8b99;
}

.fab {
  margin-top: 8px;
}
